html * {
  font-family: 'Source Code Pro', monospace;
}

body {
  padding: 0%
}

.main {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

.title {
  margin: 0 auto;
  height: 20%;
  color: #666666;
  background-image: url("lock.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 250%;
  line-height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.link {
  margin: 0 auto;
  width: 25%;
  color: blue;
  text-align: center;
}

.description {
  color: black;
  text-align: center;
  padding: 5%;
}

.loginmessage {
  border-radius: 10px;
  margin: 0 auto;
  width: 80%;
  color: black;
  background-color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

.userform {
  border-radius: 10px;
  width: 80%;
  color: black;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  top: 30%;
  transform: translateY(-60%);
}

body {
  background-color: black;
}

textarea { 
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;        
  }